@charset "UTF-8";
/* CSS Document */

:root {
  --mdc-theme-primary: #000;
  --mdc-theme-secondary: #aaa;
  --mdc-theme-on-primary: #333;
  --mdc-theme-on-secondary: #666;
}
body {
    margin-top: 0px; 
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#carousel{
    display: block;
    width: 100%;
    align-content:center;
    height: 350px;
}

.mdc-top-app-bar{
    z-index: 22
}
.carousel-item{

    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    height: 300px;
    
}
.iframely-responsive{
        align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    top: 0; left: 0; width: 100%; height: 0;
    position: relative; padding-bottom: 56.25%;
    max-height: 300px;
}
.iframely-responsive>* {
    top: 0; left: 0; width: 100%; height: 100%; position: absolute; border: 0;max-height: 300px;
}
.iframely-embed{
    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    height: 300px;
}
.carousel-indicators{
    position: relative!important;
    bottom: -10px!important;
    max-height: 300px;
}
iframe{
    height: 300px;
    max-height: 300px;
    position: relative;
}

#instructions{
    width: 500px;
    background-color: #7DBCFF;
    height: 300px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 12px, 12px, 15px, 15px, #000;
}

.my-card-content {
  padding: 16px;
}
.my-card {
  height: 280px;
  width: 350px;
    min-height: 280px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px
}

#output{
    padding: 20px;
}

.mdc-card__content{
    color: black;
}


.mdc-data-table__table-container{
    position: relative;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: center;
    align-content: center;
    word-wrap: break-word;
    
}


.mdc-data-table table{
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    word-wrap: break-word;
    
}



#wordCloud{
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    min-height: 220px;
}

#AutoethnographicReflections{
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#CloseReadings{
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#report{
    display: none;
    padding: 20px;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.mainSectionTitle{
    font-size: 2em;
    font-family: 'Montserrat', 'Open Sans', sans-serif;

}

td{
    display: table-cell;
    word-wrap: break-word;
}

 table{
    table-layout: fixed;
     width: 900px;
    max-width: 900px;
     word-wrap: break-word;
}
